
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body{
    background-color:#8b7c;
    margin: 70px;

}

 .dog{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
h3{
    margin: 10px, 0; 
    font-size: 25px;
    color: rgb(62, 6, 6);
    font-weight: 700;
    background-color: bisque;
    
}
.wrap{
    width: 100%;
}

p{
     margin: 10px; 
    font-size: 20px;
}  
table {
    width: 40%;
    border-collapse: collapse;  
}
.tab{
    background-color: #fff;
}
th, td {
    border: 1px solid black;
    padding: 7px;
    text-align: center;
}
.brown{
    color: brown;
    font-weight: 700;
    text-decoration: underline;
}
.gray{
    background-color: grey;
}